extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert-success.pug

block content
  +alert-success(2000)
  +alert-error(2000)

  .container(style="max-width: 500px; margin-top: 80px;margin-bottom: 80px;")
    h2.text-center.mb-4 Quên mật khẩu

    form(action="/user/password/forgot", method="POST")
      .form-group.mb-3
        label(for="email") Email của bạn
        input#email.form-control(type="email", name="email", required=true, placeholder="Nhập email đã đăng ký")

      button.btn.btn-primary.btn-block(type="submit") Gửi mã OTP