extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main 
  .container.my-3 
    .row 
      .col-12 
        +box-head(pageTitle)


    .row
      each topic in topics 
        .col-6.mb-3 
          div(class="card")
           img(src=topic.avatar)
           div(class="card-body")
            h5(class="card-title") #{topic.title}
            p(class="card-desc") #{topic.description}
            a(class="btn btn-primary" href=`/songs/${topic.slug}`) Xem chi tiết
