header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/admin/dashboard") ADMIN
      .col-9
        nav.nav
          ul.nav-menu
            li: a(href="#") Home
            li: a(href="#") Users
            li: a(href="#") Settings
            li: a(href="#") Logout
