.slider 
  .inner-menu   
    ul 
      a(href=`${prefixAdmin}/dashboard`) 
        li Tổng quan
      a(href=`${prefixAdmin}/products`) 
        li Sản phẩm
      a(href=`${prefixAdmin}/products-category`) 
        li Danh mục sản phẩm
        
